{% extends 'base.html' %} {% block title %} Inspo {% endblock %}
{% block active_tab %}
<a href="{{ url_for('itinerary.show_itinerary_overview', trip_id=trip.id) }}" class="nav-tab">Itinerary</a>
<a href="{{ url_for('bookings.show_flights', trip_id=trip.id) }}" class="nav-tab">Bookings</a>
<a href="{{ url_for('inspo.show_inspo', trip_id=trip.id) }}" class="nav-tab active">Inspo</a>
<a href="{{ url_for('budget.show_budget', trip_id=trip.id) }}" class="nav-tab">Budget</a>
{% endblock %}

{% block content %}
<main>
    <div class="container-fluid py-4 mt-3">
    <div class="row justify-content-center mb-2 ">
        <div class="col-2 d-flex justify-content-center align-items-center">
            <!--Tools-->
            <div class="toolbar d-flex flex-column align-items-center gap-2">
                <button id="pen" class="tool btn btn-primary-outline">
                    <i class="bi bi-pen-fill"></i>
                </button>
                <button id="eraser" class="tool btn btn-primary-outline">
                    <i class="bi bi-eraser-fill"></i>
                </button>
                <button id="square" class="tool btn btn-primary-outline">
                    <i class="bi bi-square"></i>
                </button>
                <button id="circle" class="tool btn btn-primary-outline">
                    <i class="bi bi-circle"></i>
                </button>
                <button id="arrow" class="tool btn btn-primary-outline">
                    <i class="bi bi-arrow-up-right"></i>
                </button>
                <button id="text" class="tool btn btn-primary-outline">
                    <i class="bi bi-fonts"></i>
                </button>
                <button id="image" class="tool btn btn-primary-outline" title="Upload Image">
                    <i class="bi bi-image"></i>
                </button>
            </div>
        </div>

        <!--Whiteboard space-->
        <div class="col-8 d-flex justify-content-center align-items-center">
            <div id="whiteboard-container" class="border border-2 rounded w-100">
                <canvas id="whiteboard"></canvas>
            </div>
        </div>

        <!--Colour swatches-->
        <div class="col-2 d-flex justify-content-center align-items-center">
            <div class="toolbar d-flex flex-column align-items-center gap-2">
                <button id="black" class="colour btn btn-primary-outline" data-color="#1F2937"></button>
                <button id="red" class="colour btn btn-primary-outline" data-color="#EF4444"></button>
                <button id="orange" class="colour btn btn-primary-outline" data-color="#F97316"></button>
                <button id="yellow" class="colour btn btn-primary-outline" data-color="#FACC15"></button>
                <button id="green" class="colour btn btn-primary-outline" data-color="#22C55E"></button>
                <button id="blue" class="colour btn btn-primary-outline" data-color="#3B82F6"></button>
                <button id="purple" class="colour btn btn-primary-outline" data-color="#8B5CF6"></button>
                <button id="pink" class="colour btn btn-primary-outline" data-color="#EC4899"></button>
                <button id="cyan" class="colour btn btn-primary-outline" data-color="#06B6D4"></button>
            </div>
        </div>
    </div>
</main>

<!--Hidden image upload-->
<input type="file" id="image-loader" accept="image/*" style="display: none;">

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<!--Link to Fabric.js for whiteboard functionality-->
<script src="https://cdn.jsdelivr.net/npm/fabric@6.4.3/dist/index.js"></script>
<script src="{{ url_for('static', filename='js/whiteboard.js') }}"></script>
{% endblock %}